* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
input, button{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  margin-top: 1%;
  margin-bottom: 10%;
  box-shadow: 0 0.1rem 0.1rem #eeee;
}

header{
   position: fixed;  
   top:0;
   left: 0;
   display: flex;
}
main{
  display: flex;
  margin-top: 30vh;
}

.left{
  display: flex;
  flex: 1;
}
.logo a img{
  width: 50%;
}

.middle{
  display: flex;
  flex: 1;
}
.search {
  flex: 1 1 auto;
  display: inline-flex;
  position: relative;
  height: 8vh;
}
.search input{
  padding: 6px;
  font-size: 1rem;
  display: flex;
  flex: 1;  
}

.fa-search{
  padding: 1rem;
}

input:focus{
  outline: none;
}
::placeholder{
  opacity: 0.1;
}
.right{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.icons{
  display: flex;    
  justify-content: space-between;
}

.icon img{
  width: 100%;
  height: auto;
}