* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
input, button{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  margin-top: 1%;
  margin-bottom: 10%;
  box-shadow: 0 0.1rem 0.1rem #eeee;
}

header{
   position: fixed;
   top:0;
   left: 0;
   display: flex;
}
main{
  display: flex;
  margin-top: 30vh;
  justify-content: center;
}

.left{
  display: flex;
  flex: 1;
}
.logo a img{
  width: 50%;
}

.middle{
  display: flex;
  flex: 1;
}
.search {
  flex: 1 1 auto;
  display: inline-flex;
  position: relative;
  height: 8vh;
}
.search input{
  padding: 6px;
  font-size: 1rem;
  display: flex;
  flex: 1;
}

.fa-search{
  padding: 1rem;
}

input:focus{
  outline: none;
}
::placeholder{
  opacity: 0.1;
}
.right{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.icons{
  display: flex;
  justify-content: space-between;
}

.icon img{
  width: 100%;
  height: auto;
}

aside{
  display: flex;
  flex-direction: column;
}

.first-img-aside{
  margin-bottom: 2em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.2em;
}

.up-next-autoplay{
  margin: 0.4em 0 2em 0;
}

.up-next-autoplay a{
  float: left;
  text-decoration: none;
  color: gray;
  font-size: 0.75em;
  font-weight: bold;
}

.image{
  padding-bottom: 1em;
  padding-top: 1em;
}

section{
  padding-right: 2em;
}

.column-container{
  display: flex;
  flex-direction: row;
  flex:1;

}

.buttom-container{
  display: flex;
  flex-direction: column;
}
